.cart-container{
    position: relative;
    padding:4rem;
    text-align: center;
}

.cart-submit{
    background-color: #ed7176 !important;
    border: 2px solid #ed7176 !important;
    width: 20rem !important;
    height: 50px !important;
    
}

.cart-submit:hover{
    background-color: #b8585b !important;
    border: 2px solid #b8585b !important;
    color:rgb(152, 152, 152);
    
}

.cart-in-checkbox{
    position: relative;
    top:15px
}

.total-checkbox{
    position: relative;
    top:3px;
}

.count-display, .plus-minus-button, .total-price, .cart-detail{
    max-width: 100%;
    position: relative;
    top:30px;
}

.cart-img{
    width:5rem;
    height:6rem;
}

.cart-container p{
    color:#9f9f9f;
}

span{
    position: relative;
    bottom: 9px;
}

.table-checkbox{
    max-width: 100%;
    width: 8px;
}
.table-img{
    width: 100px;
    bottom:10px;
}

.table-count{
    max-width: 100%;
    width:160px
}

.table-price{
    max-width: 100%;
    width:200px
}


.plus-minus-button{
    width:30px;
    height:30px;
    padding:0px !important;
    background-color: #9f9f9f !important;
    border: 2px solid #9f9f9f !important;
    text-align: center;
    display: inline-block !important;
    border-radius: 1px !important;
}

.count-display{
    width:40px !important;
    height:31px !important;
    font-size: 12px !important;
    padding-right: 10px !important;
    display: inline-block !important;
    border-radius: 0px !important;
}


.title{

    text-align: center;
}


