.product-list-body{
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    padding:4rem;
}

.product-sale-img{
    position: absolute;
    top:0px;
}

.product-list-img{
    
}

.category{
    color:#7f7f7f;
}

.category-button{
    position: relative;
    margin-top: 15px !important;
    margin:6px;
    background-color:white !important; 
    border: 2px solid#ed7176 !important; 
    color:#ed7176 !important;
    font-weight: bolder !important;
    border-radius: 2rem !important;
}

.category-button:hover{
    background-color:rgb(203, 203, 203) !important; 
    border: 2px solid#bd5a5d !important; 
    color:#bd5a5d !important;
}

.category:hover{
    color:#ed7176;
    text-decoration: none;
}

.category:focus{
    color:#ed7176;
}