.list {
    position: relative;
    width: 4rem;
    bottom: 10px;
}

.list .write-button{
    position: relative;
    padding:5px 10px 5px 10px;
    bottom: 3.5rem;
}

.listGroup {
    position: relative;
    margin: 15px;
    border-radius: 0px !important;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: none !important;
}

.pageNationStL{
    margin: -13px;
    padding: 15px 15px 15px 15px;
    text-decoration: none !important;
}

#pagenationGroup{
    position: relative;
    margin-left:45%;
}