.list {
    position: relative;
    width: 4rem;
    bottom: 10px;
}

.list .write-button{
    position: relative;
    padding:5px 10px 5px 10px;
    bottom: 3.5rem;
    right:11rem;
}

.title{
    position: relative;
    margin:20px;
    left:25%;
}

.board-body{
    position: relative;
    left:15%;
    vertical-align: text-bottom;
}

.board-length{
    width:70%;
    height:20%;
    text-align: center;
    line-height: 15px;
}

.board{
    font-size: 15px;
}

.board-time{
    text-align: center;
    font-size: 12px;
    width:9rem;
}

.board-num{
    text-align: center;
    font-size: 12px;
    width:4rem;
}

.listGroup {
    position: relative;
    margin: 15px;
    border-radius: 0px !important;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: none !important;
}

.pageNationStL{
    margin: -13px;
    padding: 15px 15px 15px 15px;
    text-decoration: none !important;
}

#pagenationGroup{
    position: relative;
    margin-left:30%;
}
