.xbutton {
    font-size: 14px;
    font-weight: bolder;
    position: relative;
    right: 11px;
    color: #721c24;
    border: none;
    background-color: #f8d7da;
}

.alert-text {
    position: relative;
    left:0rem;

}
