:root {
    --nav-length: 5;
    --nav-width: calc(100% / var(--nav-length));
  }
  nav {
    position: relative;
    display: flex;
  }
  nav a {
    display: block;
    width: var(--nav-width);
  }
  .nav-underline {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: var(--nav-width);
    height: 2px;
    background: #333;
    transition: all .3s ease-in-out;
  }
  nav a:nth-child(1).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 0);
  }
  nav a:nth-child(2).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 1);
  }
  nav a:nth-child(3).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 2);
  }
  nav a:nth-child(4).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 3);
  }
  nav a:nth-child(5).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 4);
  }
  nav a:nth-child(1):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 0);
  }
  nav a:nth-child(2):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 1);
  }
  nav a:nth-child(3):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 2);
  }
  nav a:nth-child(4):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 3);
  }
  nav a:nth-child(5):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 4);
  }