.cs-navi-design{
    position: relative;
    float: left;
    padding-top: 73px;
}

.cs-navi-design h2{
    position: relative;
    margin-bottom: 10px;

}

.customer-navi-button{
    width: 10rem;
    height: 3rem;
    padding-top: 11px;
    border: 1px solid #8a8a8a;
    list-style: none;
    text-align: center;
    vertical-align: bottom;
    font-size: 14px;
}

.customer-navi{
    width: 10rem;
    height: 3rem;
}